In [2]:
import pandas as pd

In [ ]:
import os
from urllib.request import urlopen
import ssl, certifi
import pandas as pd

# Ensure ../data exists (run this from src/)
os.makedirs("../data", exist_ok=True)

# Reusable SSL context (same as your olympics example)
ctx = ssl.create_default_context(cafile=certifi.where())

urls = {
    "unvotes":    "https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2021/2021-03-23/unvotes.csv",
    "roll_calls": "https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2021/2021-03-23/roll_calls.csv",
    "issues":     "https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2021/2021-03-23/issues.csv",
}

for name, url in urls.items():
    with urlopen(url, context=ctx) as f:
        df = pd.read_csv(f)
    out_path = f"../data/{name}.csv"
    df.to_csv(out_path, index=False)
    print(f"✅ Saved to {out_path}")

In [5]:
unvotes    = pd.read_csv('../data/unvotes.csv')
roll_calls = pd.read_csv('../data/roll_calls.csv')
issues = pd.read_csv('../data/issues.csv')

## unvotes

In [4]:
unvotes.head()

   rcid             country country_code vote
0     3       United States           US  yes
1     3              Canada           CA   no
2     3                Cuba           CU  yes
3     3               Haiti           HT  yes
4     3  Dominican Republic           DO  yes

In [8]:
unvotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 869937 entries, 0 to 869936
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   rcid          869937 non-null  int64
 1   country       869937 non-null  object
 2   country_code  862039 non-null  object
 3   vote          869937 non-null  object
dtypes: int64(1), object(3)
memory usage: 26.5+ MB

In [12]:
unvotes[unvotes["country_code"].isna()]

        rcid              country country_code     vote
2243      47  Yemen Arab Republic          NaN  abstain
2300      48  Yemen Arab Republic          NaN  abstain
2357      49  Yemen Arab Republic          NaN  abstain
2414      50  Yemen Arab Republic          NaN  abstain
2468      51  Yemen Arab Republic          NaN  abstain
...      ...                  ...          ...      ...
869158  9092              Namibia          NaN      yes
869340  9097              Namibia          NaN      yes
869520  9100              Namibia          NaN      yes
869701  9098              Namibia          NaN      yes
869870  9101              Namibia          NaN      yes

[7898 rows x 4 columns]

In [21]:
unvotes[(unvotes["country"] == "Yemen Arab Republic") & (unvotes["country_code"].notna())]

Empty DataFrame
Columns: [rcid, country, country_code, vote]
Index: []

In [19]:
unvotes[(unvotes["country"] == "Namibia") & (unvotes["country_code"].notna())]

Empty DataFrame
Columns: [rcid, country, country_code, vote]
Index: []

Lets drop `country_code` and just use `country`

## roll_calls

In [22]:
roll_calls.head()

,rcid,session,importantvote,date,unres,amend,para,short,descr
0,3,1,0.0,1946-01-01,R/1/66,1.0,0.0,"AMENDMENTS, RULES OF PROCEDURE",TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...
1,4,1,0.0,1946-01-02,R/1/79,0.0,0.0,SECURITY COUNCIL ELECTIONS,TO ADOPT A USSR PROPOSAL ADJOURNING DEBATE ON ...
2,5,1,0.0,1946-01-04,R/1/98,0.0,0.0,VOTING PROCEDURE,TO ADOPT THE KOREAN PROPOSAL THAT INVALID BALL...
3,6,1,0.0,1946-01-04,R/1/107,0.0,0.0,DECLARATION OF HUMAN RIGHTS,TO ADOPT A CUBAN PROPOSAL (A/3-C) THAT AN ITEM...
4,7,1,0.0,1946-01-02,R/1/295,1.0,0.0,GENERAL ASSEMBLY ELECTIONS,TO ADOPT A 6TH COMMITTEE AMENDMENT (A/14) TO T...

In [23]:
roll_calls.info

<bound method DataFrame.info of       rcid  session  importantvote        date         unres  amend  para  \
0        3        1            0.0  1946-01-01        R/1/66    1.0   0.0
1        4        1            0.0  1946-01-02        R/1/79    0.0   0.0
2        5        1            0.0  1946-01-04        R/1/98    0.0   0.0
3        6        1            0.0  1946-01-04       R/1/107    0.0   0.0
4        7        1            0.0  1946-01-02       R/1/295    1.0   0.0
...    ...      ...            ...         ...           ...    ...   ...
6197  9143       74            NaN  2019-12-12   A/RES/74/56    NaN   NaN
6198  9144       74            NaN  2019-12-27  A/RES/74/251    NaN   NaN
6199  9145       74            NaN  2019-12-12   A/RES/74/38    NaN   NaN
6200  9146       74            NaN  2019-12-19  A/RES/74/208    NaN   NaN
6201  9147       74            NaN  2019-12-10   A/RES/74/19    NaN   NaN

                                                  short  \
0                        AMENDMENTS, RULES OF PROCEDURE
1                            SECURITY COUNCIL ELECTIONS
2                                      VOTING PROCEDURE
3                           DECLARATION OF HUMAN RIGHTS
4                            GENERAL ASSEMBLY ELECTIONS
...                                                 ...
6197  Convening of the 4th special session of the Ge...
6198                                Programme planning
6199  Conventional arms control at the regional and ...
6200                      Oil slick on Lebanese shores
6201                     Oceans and the law of the sea

                                                  descr
0     TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...
1     TO ADOPT A USSR PROPOSAL ADJOURNING DEBATE ON ...
2     TO ADOPT THE KOREAN PROPOSAL THAT INVALID BALL...
3     TO ADOPT A CUBAN PROPOSAL (A/3-C) THAT AN ITEM...
4     TO ADOPT A 6TH COMMITTEE AMENDMENT (A/14) TO T...
...                                                 ...
6197  Convening of the 4th special session of the Ge...
6198                                Programme planning
6199  Conventional arms control at the regional and ...
6200                      Oil slick on Lebanese shores
6201                     Oceans and the law of the sea

[6202 rows x 9 columns]>

In [24]:
roll_calls["short"].unique()

array(['AMENDMENTS, RULES OF PROCEDURE', 'SECURITY COUNCIL ELECTIONS',
       'VOTING PROCEDURE', ...,
       'Conventional arms control at the regional and subregional levels ',
       'Oil slick on Lebanese shores ', 'Oceans and the law of the sea '],
      shape=(2021,), dtype=object)

In [36]:
roll_calls["unres"].unique()

array(['R/1/66', 'R/1/79', 'R/1/98', ..., 'A/RES/74/38', 'A/RES/74/208',
       'A/RES/74/19'], shape=(5703,), dtype=object)

Is `date` and `rcid` the only important thing here, `importantvote` stopped at 1985, and are the resolution's content relevant to our qn

## issues

In [25]:
issues.head()

   rcid short_name                 issue
0    77         me  Palestinian conflict
1  9001         me  Palestinian conflict
2  9002         me  Palestinian conflict
3  9003         me  Palestinian conflict
4  9004         me  Palestinian conflict

In [26]:
issues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5745 entries, 0 to 5744
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rcid        5745 non-null   int64
 1   short_name  5745 non-null   object
 2   issue       5745 non-null   object
dtypes: int64(1), object(2)
memory usage: 134.8+ KB

In [27]:
issues["short_name"].unique()

array(['me', 'nu', 'di', 'hr', 'co', 'ec'], dtype=object)

In [28]:
issues["issue"].unique()

array(['Palestinian conflict', 'Nuclear weapons and nuclear material',
       'Arms control and disarmament', 'Human rights', 'Colonialism',
       'Economic development'], dtype=object)

In [30]:
issues[issues["issue"] == "Palestinian conflict"]

      rcid short_name                 issue
0       77         me  Palestinian conflict
1     9001         me  Palestinian conflict
2     9002         me  Palestinian conflict
3     9003         me  Palestinian conflict
4     9004         me  Palestinian conflict
...    ...        ...                   ...
1056  9141         me  Palestinian conflict
1057  9084         me  Palestinian conflict
1058  9083         me  Palestinian conflict
1059  9096         me  Palestinian conflict
1060  9101         me  Palestinian conflict

[1061 rows x 3 columns]

Lets drop `short_name` because `issue` gives the same information, and a better description

## Huh

In [42]:
any(unvotes.duplicated()) or any(roll_calls.duplicated()) or any(issues.duplicated())

False

- No duplicate rows
- No missing values -> no need for imputation
- Outliers (idt there would be any hm)
- Just convert date to datetime obj, and merge using `rcid`?